body{
    margin: 0;
    font-family: sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CCCCFF;
    padding: 10px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.header__logo{
    width: 10%;
    padding: 10px;
}

th{
    background-color: #CCCCFF;
}
td{
    border:1px solid #d1d1d1;
    padding: 5px;
}