//Colores textos
$color-texto: #222222;
$color-texto-cabecera: #FFFFFF;
$color-texto-pie: #FFFFFF;
$color-enlaces: #CC0000;
$color-enlaces-hover: #2222;
$color-texto-navegacion: #2222;
$color-texto-navegacion-hover: #CC0000;

//Colores fondo
$color-fondo-cabecera: #000000;
$color-fondo-pie: #3b3b3b;
$color-fondo:#EEEEEE;

//Colores bordes

$color-borde-navegacion: #CC0000;
$color-borde: #DDDDDD;