body {
  margin: 0;
}
.footer {
  height: 150px;
  display: flex;
  /* position: sticky; */
  background: url(images/marmol.jpg) no-repeat;
  background-size: cover;
  color: #f0f0f0;
  /* position: relative;
  top: 0; */
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__zonaLicencias {
  grid-column: 1;
  display: flex;
}
.footer__zonaLogo {
  grid-column: 2;
  display: flex;
  justify-content: center;
}
.footer__zonaLogo img {
  height: 30%;
  right: 0;
}

